body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.head {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    font-family: sans-serif;
}

div.header-logo {
    padding: 5px;
    padding-right: 40px;
    margin: 10px;
    font-size: 15px;
    max-width: fit-content;
    align-self: flex-start;
    flex-basis: 40px;
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-family: inherit;
}

div.header-links {
    padding-right: 40px;
    padding: 5px;
    margin: 10px;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}

.sign-up-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sign-up-text {
    width: 40%;
}

.sign-up-picture {
    max-width: 50%;
    object-position: 50% 50%;
}

img {
    max-width: 70%;
}

div.sign-up-text > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: sans-serif;

}

.header-links, .sign-up-text > h4 {

    font-size: 18px;
    color: #E5E7EB;
    font-family: sans-serif;
    font-weight: 100;
}

a {
    margin-right: 30px;
}
