.body {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
    font-family: sans-serif;
}

div.header-logo {
    padding: 5px;
    padding-right: 40px;
    margin: 10px;
    font-size: 15px;
    max-width: fit-content;
    align-self: flex-start;
    flex-basis: 40px;
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-family: inherit;
}

div.header-links {
    padding-right: 40px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
    font-size: 18px;
    color: #E5E7EB;
    font-family: inherit;
}

.sign-up-section {
    
}